{
  "extends": "airlight-node",
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module",
    "extraFileExtensions": [".cjs", ".d.ts"]
  },
  "rules": {
    "node/no-unsupported-features/es-syntax": [
      "error",
      { "ignores": ["modules"] }
    ],
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/indent": "off",
    "eslint-comments/disable-enable-pair": "off",
    "indent": "off",
    "guard-for-in": "off",
    "no-restricted-syntax": "off",
    "no-continue": "off",
    "no-param-reassign": "off",
    "consistent-return": "off",
    "complexity": ["warn", 20],
    "max-depth": ["warn", 3],
    "max-lines": ["warn", 160],
    "max-lines-per-function": ["warn", 36],
    "import/prefer-default-export": "warn",
    "security-node/detect-unhandled-event-errors": "off"
  }
}
